@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* Variables */
:root {
  /* Primary colors */
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-orange-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);

  /* Gradient colors */
  --clr-light-slate-blue: hsl(252, 100%, 67%);
  --clr-light-royal-blue: hsl(241, 81%, 54%);
  --clr-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);

  /* Font weights */
  --fw-regular: 500;
  --fw-accent: 700;
  --fw-bold: 800;

  /* Font family */
  --ff-main: 'Hanken Grotesk';
  --ff-fallback: sans-serif;

  /* Font sizes */
  --fs-paragraph: 18px;
  --fs-heading-small: 24px;
  --fs-heading-medium: 32px;
  --fs-heading-big: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main), var(--ff-fallback);
  font-size: var(--fs-paragraph);
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
}

.results-summary {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 8px 5px 11px 0px hsl(241, 100%, 89%);
  box-shadow: 10px 10px 20px 5px hsla(241, 100%, 89%, 0.2);
  border-radius: 0 1.5rem 1.5rem 0;
}

@media screen and (min-width: 900px) {
  .results-summary {
    flex-direction: row;
    width: 45rem;
    min-height: 32.5rem;
    position: relative;
    bottom: 17px;
  }
}